/* DOCUMENT */
* {
    border: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    height: 90vh;
    /* height: 80vh; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 20vh; */
}
#container-toggle-theme {
    display: flex;
    justify-content: center;
}



/* TOGGLE */ /*! REQUIRED FOR TOGGLE TO WORK */
:root {
    --color: #16161a;
    --background: #fffffe;
}
.dark:root {
    --background: #16161a;
    --color: #fffffe;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
html {
    background: var(--background);
    color: var(--color);
    transition: all .5s ease-out;
}
#container-toggle-theme {
    cursor: pointer;
}
.sun, .moon {
    font-size: 1rem;
    width: 100px;    /*! CHANGE ACCORDING TO YOUR SVG */
    height: 100px;   /*! CHANGE ACCORDING TO YOUR SVG */
}
.moon {
    inset: 0;
}
.moon-logo {
    opacity: 0;
    display: none;
    transition: all 1s ease-out;
}
.sun-logo {
    opacity: 0;
    display: none;
    transition: all 1s ease-out;
}
.sun-logo.on, .moon-logo.on {
    opacity: 1;
    display: inherit;
    animation: rotate 1s ease-out;
}